 <main>
        <h1>Edit Profile</h1>
        <label for="username" id="usernameText">Username : {{user.username}}</label>
        <div id="newUsernameContainer">
            <p > Username: <input type="text" id="newUsername"></p>
            <input type="button" id="saveNewUsernameButton" value="Save">
        </div>
        <input type="button" id="changeUsernameButton" value="Change Username">

<br>
        <label for="password">Password</label>

        <div id="newPasswordContainer">
            <p > New Password: <input type="text" id="newPassword"></p>
            <p > Verify New Password: <input type="text" id="newVPassword"></p>
            <input type="button" id="saveNewPasswordButton" value="Save">
        </div>
        <input type="button" id="changePasswordButton" value="Change Password">




        <form>

            <table>
                <tr>

                </tr>
                <tr>

                </tr>
                <tr>
                    <td><label for="prof-pic">Profile Picture</label></td>
                    <td class="col2"><input name="prof-pic" type="file" accept="image/*" class="input" id="prof-pic"></td>
                </tr>
                <tr>
                    <td><label for="bio">Bio</label></td>
                    <td class="col2"><textarea name="bio" class="input" id="bio"></textarea></td>
                </tr>
            </table>
        </form>

    </main>